@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  
}

#app{
  background-color: rgb(174, 171, 171);
  max-width: 1000px;
  
}
