@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap');



* {
  box-sizing: border-box;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  
}

#app{
  background-color: rgb(187, 182, 182);
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

